body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(to right, #9c9c9c, #292929);
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

header {
    padding: 32px 32px;
    width: 100%;
    margin: 0 auto;
}

h1 {
    font-size: 40px;
    font-weight: 300;
    color: #ffffff;
    margin-bottom: 32px;
    display: inline-block;
}


button {
    outline: 0;
    padding: 5px 10px;
    border-radius: 20px;
    color: #ffffff;
    box-shadow: -2px -2px 5px #ffffff8a, 2px 2px 5px #babecc7c;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    border: none;
}

button:hover,
button:focus {
    box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
}

button:active {
    box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}

#botaoLogout {
    position: absolute;
    right: 32px;
    margin-right: 51px;
    padding: 11px;
}

input {
    outline: 0;
    background-color: #ffffff17;
    box-shadow: inset 2px 2px 5px #babecc50, inset -5px -5px 5px #ffffff50;
    width: 39%;
    padding: 10px;
    border-radius: 16px;
    color: #fffffff1;
    font-size: 20px;
    border: none;
}

input::placeholder {
    color: #fffffff1;
}

input:focus,
input:hover {
    box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}

#botaoSalvar {
    padding: 5px 13px;
    margin: 0 35px;
}


main {
    flex: 1 1 0%;
    padding: 0 32px 32px 32px;
    width: 100%;
    margin: 0 auto;
}

h2 {
    font-size: 24px;
    font-weight: 300;
    color: #ffffff;
    margin-bottom: 16px;
}

.lembrete,
#form {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff17;
    box-shadow: inset 2px 2px 5px #ffffff34, inset -5px -5px 5px #babecc46;
    padding: 16px;
    border-radius: 16px;
    margin-bottom: 16px;

}

span {
    display: none;
}

.recado:not(:read-only),
.descricao:not(:read-only) {
    color: #000000;
}

.botoes {
    display: flex;
    justify-content: space-between;
}

.apagar {
    margin-left: 8px;
}

@media screen and (max-width: 1000px) {
    h1 {
        max-width: 100%;
        display: block;
        margin-bottom: 16px
    }

    #botaoLogout {
        position: static;
        display: block;
        margin-bottom: 16px;
    }
}