* {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
}


body {
    /* background: url(bg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; */
    background-image: linear-gradient(to right, #b3b3b3, #292929);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

form {
    width: 400px;
    height: auto;
    padding: 40px;
    border-radius: 20px;
    /* box-shadow: inset -2px -2px 5px #ffffff34, inset 5px 5px 5px #babecc46; */
    box-shadow: inset 2px 2px 5px #ffffff34, inset -5px -5px 5px #babecc46;
}

h1 {
    font-size: 35px;
    font-weight: bolder;
    color: #ffffff;
    margin-bottom: 40px;
}

button,
input {
    outline: 0;
    border-radius: 20px;
    padding: 15px;
    background-color: #ffffff17;
    border: none;
    margin-bottom: 36px;
}

input {
    margin-right: 8px;
    box-shadow: inset 2px 2px 5px #babecc50, inset -5px -5px 5px #ffffff50;
    width: 100%;
    transition: 0.2s ease-in-out;
    color: #ffffff;
}

::placeholder {
    color: #fffffff1;
}

input:focus,
input:hover {
    box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}

button {
    color: #ffffff;
    width: 100%;
    font-size: 20px;
    box-shadow: -5px -5px 10px #ffffff8a, 5px 5px 10px #babecc7c;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    font-weight: 600;
}

button:hover,
button:focus {
    box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
}

button:active {
    box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}

p {
    color: #ffffff;
}